# --- Python ---
__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/

# --- Entorno ---
.venv/
venv/
.env
.env.*

# --- Jupyter ---
.ipynb_checkpoints/
*.nbconvert.ipynb


# --- VS Code / Windows ---
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
Thumbs.db
desktop.ini

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Quarto
/.quarto/
*_files/